# https://clang.llvm.org/extra/clang-tidy/checks/list.html
#
# Originally adapted from Google Cloud:
# https://github.com/googleapis/google-cloud-cpp/blob/main/.clang-tidy
#
# Adjusted as opt-in rules to address objective check categories
Checks: >
  -*,
  performance-*,
  portability-*,
  google-global-names-in-headers,
  google-build-using-namespace,
  bugprone-assert-side-effect,
  bugprone-dangling-handle,
  bugprone-inaccurate-erase,
  bugprone-integer-division,
  bugprone-memory-leak,
  bugprone-null-check,
  bugprone-redundant-branch,
  bugprone-use-after-move,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-make-unique,
  modernize-make-shared,
  modernize-loop-convert,
  readability-const-return-type,
  readability-container-size-empty,
  readability-redundant-smartptr-get,
  -google-readability-braces-around-statements,
  -google-readability-namespace-comments,
  -google-runtime-references,
  -performance-move-const-arg,
  -performance-avoid-endl,
  -performance-enum-size

# Enable warnings as errors for all the checks above
WarningsAsErrors: '*'

# Apply auto-fixes based on .clang-format settings
FormatStyle: file

# Use colors when showing warning and error messages
UseColor: true
